body {
    background-color: teal;
}

* {
    box-sizing: border-box;
}

h1, p {
    display: flex;
    justify-content: center;
}

.container {
    margin: auto;
    width: 50%;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px  0px rgba(0, 0, 0, 0.7);
    
}

input[type='text'],
input[type='password'] {
    width: 35%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: none;
    background: whitesmoke;
}

input[type='text']:focus,
input[type='password']:focus {
    background-color: rgb(212, 212, 218);
    outline: none;
}

input[type='tel'] {
    width: 40%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: none;
    background: whitesmoke;
}

input[type='tel']:focus {
    background-color: rgb(212, 212, 218);
    outline: none;
}

select[name='gender']{
    width: 15%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background: whitesmoke;
}

.submitreg {
    background-color: teal;
    color: whitesmoke;
    padding: 16px;
    border: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin: auto;
    opacity: 0.8;

}

.submitreg:hover {
    background-color: blueviolet;
    opacity: 1;
}